[submodule "api"]
	path = api
	url = git@github.com:baigudin/eoos-api.git
[submodule "cpu/ti/am18x"]
	path = cpu/ti/am18x
	url = git@github.com:baigudin/eoos-cpu-ti-am18x.git
[submodule "cpu/ti/tms320c28x"]
	path = cpu/ti/tms320c28x
	url = git@github.com:baigudin/eoos-cpu-ti-tms320c28x.git
[submodule "cpu/ti/tms320c64x"]
	path = cpu/ti/tms320c64x
	url = git@github.com:baigudin/eoos-cpu-ti-tms320c64x.git
[submodule "cpu/ti/tms320c64xplus"]
	path = cpu/ti/tms320c64xplus
	url = git@github.com:baigudin/eoos-cpu-ti-tms320c64xplus.git
[submodule "library"]
	path = library
	url = git@github.com:baigudin/eoos-library.git
[submodule "projects"]
	path = projects
	url = git@github.com:baigudin/eoos-projects.git
[submodule "system"]
	path = system
	url = git@github.com:baigudin/eoos-system.git
[submodule "system-if-amoeba"]
	path = system-if-amoeba
	url = git@github.com:baigudin/eoos-system-if-amoeba.git
[submodule "system-if-linux"]
	path = system-if-linux
	url = git@github.com:baigudin/eoos-system-if-linux.git
[submodule "system-if-freertos"]
	path = system-if-freertos
	url = git@bitbucket.org:embedded-team/eoos-system-if-freertos.git
[submodule "cpu/ti/am65x"]
	path = cpu/ti/am65x
	url = git@bitbucket.org:embedded-team/eoos-cpu-ti-am65x.git
